.app-bar {
  background-color: white !important;
}

main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  max-height: 100vh;
  flex-direction: column;
  position: relative;
}

.body {
  height: calc(100vh - 57px);
}
